<%= form_with(model: pokedex, local: true) do |form| %>
  <% if pokedex.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(pokedex.errors.count, "error") %> prohibited this pokedex from being saved:</h2>
      <ul>
        <% pokedex.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group col-md-9">
    <%= form.label :name %>
    <%= form.text_field :name, :class=>"form-control" %>
  </div>
  <div class="form-group col-md-9">
    <%= form.label :base_health_point %>
    <%= form.number_field :base_health_point, :class=>"form-control" %>
  </div>
  <div class="form-group col-md-9">
    <%= form.label :base_attack %>
    <%= form.number_field :base_attack, :class=>"form-control" %>
  </div>
  <div class="form-group col-md-9">
    <%= form.label :base_defence %>
    <%= form.number_field :base_defence, :class=>"form-control" %>
  </div>
  <div class="form-group col-md-9">
    <%= form.label :base_speed %>
    <%= form.number_field :base_speed, :class=>"form-control" %>
  </div>
  <div class="form-group col-md-9">
    <%= form.label :base_speed %>
    <%= form.number_field :base_speed, :class=>"form-control" %>
  </div>
  <div class="form-group col-md-9">
    <%= form.label :element_type %>
    <%= select_tag "pokedex[element_type]", options_for_select(@element_type_select, :selected => @pokedex.element_type), :class=>"form-control" %>
  </div>
  <div class="form-group col-md-9">
    <%= form.label :image_url %>
    <%= form.text_field :image_url, :class=>"form-control" %>
  </div>
  <div class="form-group col-md-9">
    <%= form.submit :class=>"btn btn-primary" %>
  </div>
</br>
<% end %>
