<!-- - Page Header -->
<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-4x">
        <div class="site-heading">
          <h1>Pokemon Battles</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<hr>
<div class="container">
  <% if notice.present? %>
    <p id="notice" class="alert alert-success"><%= notice %></p>
  <% end %>
  <div class="row col-md-4x">
    <%= link_to 'Create', new_pokemon_battle_path, :class=>"btn btn-primary float-left mb-2" %>
    <hr>
    <table class="table table-striped" border="1"">
      <thead class="thead-dark">
        <tr>
          <th>Pokemon 1</th>
          <th>Pokemon 2</th>
          <th>Turn</th>
          <th>Stage</th>
          <th colspan="2" class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @pokemon_battle.each do |pokemon_battle| %>
          <tr>
            <td><%= pokemon_battle.pokemon1.name  %></td>
            <td><%= pokemon_battle.pokemon2.name  %></td>
            <td><%= pokemon_battle.current_turn %></td>
            <td><%= pokemon_battle.state %></td>
            <td><%= link_to 'Battle', pokemon_battle, :class => "btn btn-primary" %></td></td>
            <td><%= link_to 'Destroy', pokemon_battle, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="digg_pagination float-right">
      <%= will_paginate @pokemon_battle %>
    </div>
  </div>
</div>
