<!-- Page Header -->
<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="site-heading">
          <h1>Pokemon Battle</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<hr>

<div class="container">
    <% flash.each do |key, value| %>
      <% if key == "error"%>
        <div class="alert alert-danger alert-<%= key %>"><%= value %></div>
      <% else %>
        <div class="alert alert-success alert-<%= key %>"><%= value %></div>
      <% end %>
    <% end %>
    <div class="row align-items-start">
      <div class="col-md-5 d-flex justify-content-center">
        <%= form_tag(attack_pokemon_battle_path) do %>
        <div class="img img_container" display="inline">
          <%= image_tag(@pokemon1.pokedex.image_url) %>
        </div>
          <div class="form-group col-md-9">
            <strong>Name:</strong>
            <%= @pokemon1.name %>
          </div>
          <div class="form-group col-md-9">
            <strong>Hp:</strong>
            <%= @pokemon1.current_health_point %> / <%= @pokemon1.max_health_point%>
          </div>
          <div class="form-group col-md-9">
            <%= select_tag 'skill_id', options_for_select(@skill_select1), :class=>"form-control" %>
          </div>
          <%if @pokemon_battle.state != "finish" %>
            <% if @pokemon_battle.current_turn % 2 == 0 %>
              <%= submit_tag 'Attack', :class => "btn btn-primary", :style => "display: none" %>
              <%= link_to 'Surrender', surrender_pokemon_battle_path(@pokemon_battle.id),  :class => "btn btn-primary",:style => "display: none" %>
            <%else%>
              <%= submit_tag 'Attack', :class => "btn btn-primary"%>
              <%= link_to 'Surrender', surrender_pokemon_battle_path(@pokemon_battle.id),  :class => "btn btn-primary" %>
            <%end%>
          <%end%>
        <% end %>
      </div>
      <div class="row col-md-2 d-flex justify-content-center">
        <h1 class="text-center">VS</h1>
        <h1 class="text-center">Turn: <%= @pokemon_battle.current_turn %></h1>
        <h1 class="text-center"><%= @pokemon_battle.state.upcase %></h1>
      </div>
      <div class="col-md-5 d-flex justify-content-center">
        <%= form_tag(attack_pokemon_battle_path) do %>
        <div class="img img_container">
          <%= image_tag(@pokemon2.pokedex.image_url) %>
        </div>
          <div class="form-group col-md-9">
            <strong>Name:</strong>
            <%= @pokemon2.name %>
          </div>
          <div class="form-group col-md-9">
            <strong>Hp:</strong>
            <%= @pokemon2.current_health_point %> / <%= @pokemon2.max_health_point%>
          </div>
          <div class="form-group col-md-9">
            <%= select_tag 'skill_id', options_for_select(@skill_select2), :class=>"form-control" %>
          </div>
          <%if @pokemon_battle.state != "finish" %>
            <% if @pokemon_battle.current_turn % 2 != 0 %>
              <%= submit_tag 'Attack', :class => "btn btn-primary", :style => "display: none" %>
              <%= link_to 'Surrender', surrender_pokemon_battle_path(@pokemon_battle.id),  :class => "btn btn-primary", :style => "display: none" %>
            <%else%>
              <%= submit_tag 'Attack', :class => "btn btn-primary"%>
              <%= link_to 'Surrender', surrender_pokemon_battle_path(@pokemon_battle.id),  :class => "btn btn-primary" %>
            <%end%>
          <% end %>
        <% end %>
      </div>
    </div>
    <div>
      <%= link_to 'Back', pokemon_battles_path, :class=>"btn btn-secondary" %>
    </div>
</div>
<br>
<div class="container">
  <div class="row col-md-4x">
    <hr>
    <table class="table table-striped" border="1"">
      <thead class="thead-dark">
        <tr>
          <th>Attacker</th>
          <th>Defender</th>
          <th>Turn</th>
          <th>Damage</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @pokemon_battle_logs.each do |pbl| %>
          <tr>
            <td><%= pbl.attacker.name %></td>
            <td><%= pbl.defender.name %></td>
            <td><%= pbl.turn %></td>
            <td><%= pbl.damage %></td>
            <td><%= link_to 'Destroy', pbl, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <div>
    </div>
  </div>
</div>