<p id="notice"><%= notice %></p>

<h1>Pokemons</h1>

<table>
  <thead>
    <tr>
      <th>Pokedex</th>
      <th>Name</th>
      <th>Level</th>
      <th>Max health point</th>
      <th>Current health point</th>
      <th>Attack</th>
      <th>Defence</th>
      <th>Speed</th>
      <th>Current experience</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pokemons.each do |pokemon| %>
      <tr>
        <td><%= pokemon.pokedex_id %></td>
        <td><%= pokemon.name %></td>
        <td><%= pokemon.level %></td>
        <td><%= pokemon.max_health_point %></td>
        <td><%= pokemon.current_health_point %></td>
        <td><%= pokemon.attack %></td>
        <td><%= pokemon.defence %></td>
        <td><%= pokemon.speed %></td>
        <td><%= pokemon.current_experience %></td>
        <td><%= link_to 'Show', pokemon %></td>
        <td><%= link_to 'Edit', edit_pokemon_path(pokemon) %></td>
        <td><%= link_to 'Destroy', pokemon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pokemon', new_pokemon_path %>
